<?xml version="1.0" encoding="utf-8"?>
<ProfilerRecordConfigFile xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <AddMeasureMethod>false</AddMeasureMethod>
  <ActiveProfilerRecordConfigMode>Blacklist</ActiveProfilerRecordConfigMode>
  <List />
  <ListLibrary />
  <Records />
</ProfilerRecordConfigFile>